
@model SMS_Marketing.Models.Organization
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Welcome Admin</h1>
<section>
         @{
            if(ViewBag.Success != null)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Success
                        </div>
                    </div>
                </div>
            }
            if(ViewBag.Error != null)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Error
                        </div>
                    </div>
                </div>
            }
        }
</section>
<section>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Organizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Insights</a>
        </li>
    </ul>
</section>
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col-4">
                <a href="/SysAdmin/Create">
                    <button type="button" class="btn btn-primary btn-lg">New Organization</button>
                </a>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<Organization> organizations = ViewBag.OrganizationList;
                            if(organizations != null)
                            {
                                int row = 0;
                                foreach (var organization in organizations)
                                {
                                    row = row + 1;
                                    <tr>
                                      <th scope="row">@row</th>
                                      <td>@organization.Id</td>
                                      <td>@organization.Name</td>
                                      <td>@organization.ManagerName</td>
                                      <td>
                                          @if (organization.IsActive)
                                          {
                                                <button type="button" class="btn btn-info" disabled>Active</button>
                                          }
                                          else
                                          {
                                                <button type="button" class="btn btn-danger" disabled>Inactive</button>
                                          }
                                      </td>
                                      <td>
                                        <a href="/SysAdmin/Delete/@organization.Id">Delete</a> |
                                        <a href="/SysAdmin/Edit/@organization.Id">Edit</a> |
                                        <a href="/SysAdmin/Disable/@organization.Id">Disable</a>
                                      </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p>No Organizations yet</p>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


