@model SMS_Marketing.Models.Organization
@{
    ViewData["Title"] = "Insights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container">
    <div class="pt-2">
        <p class="fs-1">System Insights</p>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Insights</li>
        </ol>
    </nav>
</section>
<section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a asp-action="Index" asp-controller="SysAdmin" class="nav-link" aria-current="page">Organizations</a>
        </li>
        <li class="nav-item">
            <a asp-action="Insights" class="nav-link active">Insights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/SysAdmin/Settings/Twitter">Settings</a>
        </li>
    </ul>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <div class="pt-2">
                <p class="fs-2">System Logs</p>
                <p class="fs-5">The system logs contain information to help you troubleshoot errors.</p>
            </div>
            <div>
                <a asp-action="DownloadLog" asp-controller="SysAdmin" class="btn btn-primary btn-lg">
                    <i class="fa-solid fa-download"></i>
                    Download Logs
                </a>
            </div>
        </div>
        <div class="col">
            @{
                List<Post> posts = ViewBag.PostList;
                if (posts != null)
                {
                    <p class="fs-2">Usage Statistics</p>
                    <p class="fs-5">The usage statistcs show all organization's data.</p>
                    string dateString = DateTime.Today.ToString("yyyy-MM-dd");
                    string currentmonth = dateString.Substring(4, 2);
                    string postedmonth;
                    int i = 0;
                    int s = 0;
                    int f = 0;
                    int t = 0;
                    int g = 0;
                    int b = 0;
                    int m = 0;
                    foreach (var post in posts)
                    {
                        if (post.OnTwitter)
                        {
                            t++;
                        }
                        if (post.OnFacebook)
                        {
                            f++;
                        }
                        if (post.OnSMS)
                        {
                            s++;
                        }
                        if (post.Success == true)
                        {
                            g++;
                        }
                        if (post.Success == false)
                        {
                            b++;
                        }
                        postedmonth = post.PostedDate.ToString("yyyy-MM-dd");
                        postedmonth = postedmonth.Substring(4, 2);
                        if (currentmonth == postedmonth)
                        {
                            m++;
                        }
                        i++;
                    }
                    <p>Total Posts: @i</p>
                    <p><i class="fa-brands fa-facebook-f"></i>  Posts: @f</p>
                    <p><i class="fa-solid fa-comment"></i> Posts: @s</p>
                    <p><i class="fa-brands fa-twitter"></i> Posts: @t</p>
                    <p>Successful Posts: @g</p>
                    <p>Failed Posts: @b</p>
                    <p>Posts this month: @m</p>
                }
                else
                {
                    <p>There are no posts yet</p>
                }
            }
        </div>
    </div>
</section>