@model CustomerViewModel
@{
    ViewData["Title"] = "Customers";
}
<section class="container">
    <partial name="../Organization/Shared/_Greeting.cshtml" for="@Model.Organization" />
</section>
<section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="UserManagement" asp-controller="Organization" asp-route-id="@Model.Organization.Id">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="Customers" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Groups" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Insights" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Insights</a>
        </li>
    </ul>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            <div class="pt-2">
                <p class="fs-2">Customer List</p>
            </div>
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th scope="auto">Name</th>
                        <th scope="auto">Phone Number</th>
                        <th scope="auto">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Customers)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    <a class="btn btn-outline-success">Add to group</a>
                                    <a class="btn btn-outline-primary">Chat</a>
                                    <a class="btn btn-outline-danger">Delete </a>
                                </td>
                            </tr>    
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="pt-2">
                <p class="fs-2">Your Groups</p>
            </div>
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th scope="auto">Name</th>
                        <th scope="auto">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Groups)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <a class="btn btn-outline-secondary">Details</a>
                                    <a class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>