
@model CustomerViewModel
@{
    ViewData["Title"] = "Customers";
}
<section class="container">
    <partial name="../Organization/Shared/_Greeting.cshtml" for="@Model.Organization" />
</section>
<section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="UserManagement" asp-controller="Organization" asp-route-id="@Model.Organization.Id">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="Customers" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Customers</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" asp-action="Groups" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Groups</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" asp-action="Insights" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Insights</a>
        </li>
    </ul>
</section>
<section class="container">
    <div class="row">
        @{
            if(Model.Organization.CurrentUser.IsCustomerManagment)
            {
                <div class="col m-2">
                    <p class="fs-2">Your Customers</p>
                    <a asp-action="CreateCustomer" asp-controller="Customer" asp-route-id="@Model.Organization.Id" class="btn btn-primary btn-lg mb-2">Create Customer?</a>
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="auto">Last Name</th>
                                <th scope="auto">First Name</th>
                                <th scope="auto">Phone Number</th>
                                <th scope="auto">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form method="post">
                                @{
                                    foreach (var item in Model.Customers.Where(e => e.IsActive == true))
                                    {
                                    <tr>
                                        <td>@item.LastName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>
                                            <a class="btn btn-outline-secondary">Details</a>
                                            <input type="submit" class="btn btn-danger" value="Delete" asp-action="Delete" asp-controller="Customer"
                                   asp-route-id="@item.Id" />
                                        </td>
                                    </tr>
                                    }
                                }
                            </form>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <partial name="../Organization/Shared/_NoAccess.cshtml" for="@Model.Organization.ManagerName" />
            }  
        }

    </div>
</section>