@model Organization
@{
    ViewData["Title"] = "Organization " + @Model.Name;
}
<section class="container"> 
    <partial name="../Organization/Shared/_Greeting.cshtml" for="@Model" />
</section><section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index" asp-controller="Organization" asp-route-id="@Model.Id">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="UserManagement" asp-controller="Organization" asp-route-id="@Model.Id">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Customers" asp-controller="Organization" asp-route-id="@Model.Id">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Groups" asp-controller="Organization" asp-route-id="@Model.Id">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Insights" asp-controller="Organization" asp-route-id="@Model.Id">Insights</a>
        </li>
    </ul>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            @{
                if (Model.CurrentUser.IsPost)
                {
                    <partial name="../Organization/Shared/_OrgPost.cshtml" for="@Model" />
                }
                else
                {
                    <partial name="../Organization/Shared/_NoAccess.cshtml" for="@Model.ManagerName" />
                }
            }
        </div>
        <div class="col">
            <section class="container pt-2 ml-0">
                <partial name="../Organization/Shared/_Qr.cshtml" for="@Model" />
            </section>

            @{
                if (Model.CurrentUser.IsPost)
                {
                    <section class="container pt-2">
                        <p class="fs-2">Your Services</p>
                    </section>
                    <section class="container">
                        <div class="row pb-1">
                            <div class="col col-auto">
                                <a class="btn btn-primary btn-lg" asp-controller="Twitter" asp-action="Login" asp-route-id="@Model.Id">
                                    <i class="fa-brands fa-square-twitter"></i>
                                    Use Twitter</a>
                            </div>
                            @{
                                if (Model.IsTwitter)
                                {
                                    <div class="col col-auto">
                                        <a class="btn btn-danger btn-lg" asp-controller="Twitter" asp-action="Disable" asp-route-id="@Model.Id">
                                            <i class="fa-solid fa-square-minus"></i>
                                            Disable Twitter
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                        <div>
                            <a class= "btn btn-primary btn-lg" asp-controller="Facebook" asp-action="AddFacebook" 
                            asp-route-Id="@Model.Id">Add Facebook</a>
                        </div>
                    </section>
                }   
            }
        </div>
    </div>
</section>
