@model Organization
@{
    if(Model.AppUsers == null || Model.AppUsers.Count < 1)
    {
        <section class="container">
            <div class="pt-2">
                <p class="fs-2">Edit User Access</p>
            </div>
            <div>
                <p class="fs-5">There are no users registered.</p>
            </div>
        </section>
    }
    else
    {
        <section class="container">
            <div class="pt-2">
                <p class="fs-2">Edit User Access</p>
            </div>
            <div class="accordion" id="user-management">
                @{
                    int index = -1;
                    foreach (var user in Model.AppUsers)
                    {
                        index = index + 1;
                        string heading = "heading";
                        string collapse = "collapse";
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@heading@index">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@collapse@index" aria-expanded="false" aria-controls="@collapse@index">
                                    @user.FirstName @user.LastName
                                </button>
                            </h2>
                            <div id="@collapse@index" class="accordion-collapse collapse collapse" aria-labelledby="@heading@index" data-bs-parent="#user-management">
                                <div class="accordion-body">
                                    <form asp-action="ModifyPermissions" asp-controller="Organization" asp-route-id="@user.Id">
                                        <input value="@Model.Id" name="orgId" hidden>
                                        <legend>Change Permissions for @user.FirstName</legend>
                                        <div class="pt-3">
                                            <div class="form-check form-switch">
                                                <label class="form-check-label">Active</label>
                                                <input class="form-check-input" asp-for="@user.IsActive" />
                                            </div>
                                        </div>
                                        @{
                                            if(user.IsActive)
                                            {
                                                <div class="pt-3">
                                                    <div class="form-check form-switch">
                                                        <label class="form-check-label" asp-for="@user.IsPost"></label>
                                                        <input class="form-check-input" asp-for="@user.IsPost" />
                                                    </div>
                                                </div>
                                                <div class="pt-3">
                                                    <div class="form-check form-switch">
                                                        <label class="form-check-label" asp-for="@user.IsUserManagement"></label>
                                                        <input class="form-check-input" asp-for="@user.IsUserManagement" />
                                                    </div>
                                                </div>
                                                <div class="pt-3">
                                                    <div class="form-check form-switch">
                                                        <label class="form-check-label" asp-for="@user.IsInsight"></label>
                                                        <input class="form-check-input" asp-for="@user.IsInsight" />
                                                    </div>
                                                </div>
                                                <div class="pt-3">
                                                    <div class="form-check form-switch">
                                                        <label class="form-check-label" asp-for="@user.IsCustomerManagment"></label>
                                                        <input class="form-check-input" asp-for="@user.IsCustomerManagment" />
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {        
                                                <input class="form-check-input" asp-for="@user.IsPost" value="false" hidden />
                                                
                                                <input class="form-check-input" asp-for="@user.IsUserManagement" value="false" hidden />
                                                
                                                <input class="form-check-input" asp-for="@user.IsInsight" value="false" hidden />
                                                
                                                <input class="form-check-input" asp-for="@user.IsCustomerManagment" value="false" hidden />
                                            }
                                        }
                                        <div class="pt-3">
                                            <input class="btn btn-outline-primary" value="Save Changes" type="submit" />
                                        </div>
                                    </form>
                                    <div class="pt-2">
                                        <a asp-action="RemoveUser" asp-controller="Organization" asp-route-id="@user.Id" class="btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                        Remove User</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
    }
}
