@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Home";
}

<section class="container mt-4">
    @{
    if (SignInManager.IsSignedIn(User))
    {
        AppUser? user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            string fullName = $"{user.FirstName} {user.LastName}";
            <div class="text-center">
                <h1 class="display-4">Welcome Back, @fullName</h1>
            </div>
        }
        else
        {
            <div class="text-center">
                <h1 class="display-4">Welcome Back!</h1>
            </div>
        }
    }
}
</section>
<section class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage your organization</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-action="MyOrganizations" asp-controller="Organization" class="btn btn-primary btn-lg">
                        <i class="fa-solid fa-list-check"></i>
                        Manage Organization
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage your account</h5>
                    <p class="card-text">Reset your password, manage your email and download your data.</p>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary btn-lg">
                        <i class="fa-regular fa-user"></i>
                        Account</a>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    if(ViewBag.Invites != null)
    {
        List<Invite > invites = ViewBag.Invites;
        <section class="mt-4">
            <div class="text-center">
                <div class="text-center">
                    <h5 class="display-6">
                        You have
                        <span class="badge rounded-pill bg-danger">@invites.Count</span>
                        notifications.
                    </h5>
                </div>
               @{
                   foreach (var invite in invites)
                   {
                        <div class="row pb-2">
                            <div class="col col-3"></div>
                            <div class="col">
                                <div class="card">
                                    <h5 class="card-header">Invitation to join.</h5>
                                    <div class="card-body">
                                        <p class="card-title">@invite.AuthorName invited to join their organization.</p>
                                        <div class="row">
                                            <div class="col">
                                                <form asp-action="AcceptInvite" asp-controller="Home" asp-route-id="@invite.Id">
                                                    <input class="btn btn-outline-primary btn-lg" type="submit" value="Accept"/>
                                                </form>
                                            </div>
                                            <div class="col">
                                                <form asp-action="DeclineInvite" asp-controller="Home" asp-route-id="@invite.Id">
                                                    <input class="btn btn-outline-danger btn-lg" type="submit" value="Decline"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-3"></div>
                        </div>
                    }
               }
            </div>
        </section>
    }

}